<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Modificar Producto</title>
   <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
   <h1>Modificar Cuenta</h1>
   <h3></h3>
   <div id="app">
       <form @submit.prevent="obtenerProducto">
           <label for="dni">DNI:</label>
           <input type="text" v-model="dni" required><br>
           <button class="add-to-cart"  type="submit">Modificar</button>
           <a href="index.html" class="crud"  >Home</a>   
       </form>
       <div v-if="mostrarDatosProducto">
            <h2>Datos de la cuenta</h2>
            <form @submit.prevent="guardarCambios">
            <label for="nombreModificar">NOMBRE:</label>
            <input type="text" id="nombreModificar" v-model="nombre" required><br>
            <label for="apellidoModificar">APELLIDO:</label>
            <input type="text" id="apellidoModificar" v-model="apellido" required><br>
            <label for="ciudadModificar">CIUDAD:</label>
            <input type="text"  id="ciudadModificar" v-model="ciudad" required><br>
            <!-- Imagen actual del producto -->
            <img v-if="imagen_url && !imagenSeleccionada":src="'https://www.pythonanywhere.com/user/grupo2023/files/home/grupo2023/mysite/static/img/' + imagen_url" alt="Imagen del producto" style="max-width: 200px;">
            <!-- Vista previa de la nueva imagen seleccionada -->
            <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen" style="max-width: 200px;">
            <!-- Input para nueva imagen -->
            <label for="nuevaImagen">Nueva Imagen:</label>
            <input type="file" id="nuevaImagen"
            @change="seleccionarImagen"><br>
            <label for="direModificar">Direccion:</label>
            <input type="text" id="direModificar" v-model="direccion" required><br>
            <button class="add-to-cart" type="submit">Guardar Cambios</button>
            <a href="modificaciones.html" class="crud">Cancelar</a>
        </form>
        </div>
   </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="modificaciones.js"></script>
</body>
</html>